@font-face {
    font-family: "icons";
    src: url("./icons.woff?5c61eb969c33fa2b92bdab788cdbfaed") format("woff"),
url("./icons.woff2?5c61eb969c33fa2b92bdab788cdbfaed") format("woff2");
}

i[class^="mdi-"]:before, i[class*=" mdi-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mdi-map-marker:before {
    content: "\f101";
}
